.flowers{
    grid-column: center-start / center-end;
    margin: 8rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    overflow: auto;
    
}
.select{
    grid-column: 1/-1;
    width: 80%;
    text-align: center;
    justify-self: center;
    font-size: 3rem;
}