.CheckoutSummery{
    width: 100%;
    margin: 4rem auto;
    display: grid;
    /* grid-column: center-start / center-end; */
    grid-row: 1/2;
    text-align: center;
   
    background-image: url(../../../assets/images/lady3.jfif);
   
    background-repeat: no-repeat;
    background-position: 85% 24%;
    height: 180vh;
    
}
.Heading{
    grid-row: 1/2;
    font-size: 3.1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #f5cd78, #4e3706);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.Heading:hover{
    transform: skewX(15deg) skewY(-2deg)  scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#4e3706, 0.8);
}
.ContainerBtn{
    grid-row: 2/3;
    display: flex;
    justify-self: center;
 
}

.CheckoutSummery Button{
   border: 1px solid #4e3706;
   border-radius: 5px;
   box-shadow: .5rem 1rem 2rem rgba(#4e3706, 0.8);
    
}
/* @media (min-width:600px){
    .CheckoutSummery{
        width: 500px;
    }
} */
.Items{
    grid-row: 3/4;
    /* font-size: 2.3rem;
    font-weight: 900;
    text-transform: capitalize;
    border: 1px solid #4e3706;
    border-radius: 10rem;
    padding: 0.5rem; */
 
    /* display: inline-block;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); */
    /* width: 50rem; */
    /* position: relative; */
    /* border: 2px dotted #000000;
    border-radius: 30%; */
    
    /* position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%); */
    /* height: 175vh; */
   
}


.CheckoutSummery .Items> *{
    width: 18rem;
    
    margin: 1rem;
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-row-gap: 0rem;
    /* position: absolute; */
    /* left: calc(44% - 25px);
    top: calc(50% - 25px); */
    /* height: 50px;
    width: 50px; */
    border: 2px dotted #754507;
    border-radius: 50%;
   


}
@media only screen and (max-width: 850px) {
    .CheckoutSummery{
        width: 100%;
        margin: auto;
        display: grid;
        grid-column: center-start / center-end;
        grid-row: 1/2;
       
    
      
    }
    .Items{
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
                grid-gap: 7rem;
                margin: 5rem 0;
height: 175vh;
}
    .CheckoutSummery .Items > *{
        width: 15rem;
    
        margin: 1rem;
        padding: 0;
        background-color: transparent;
        display: grid;
        grid-row-gap: 0rem;
        /* position: absolute; */
        /* left: calc(44% - 25px);
        top: calc(50% - 25px); */
        /* height: 50px;
        width: 50px; */
        border: 2px dotted #754507;
        border-radius: 50%;
        position: static;
    
    }
 
}
@media only screen and (min-width: 850px) {


    .CheckoutSummery .Items> *:nth-child(1){
    transform:rotate(14deg) translateX(50px) translateY(0px);
}
.CheckoutSummery .Items> *:nth-child(2){
    transform:rotate(-2deg) translateX(200px) translateY(-20px);
}
.CheckoutSummery .Items> *:nth-child(3){
    transform:rotate(-7deg) translateX(400px) translateY(-259px);
}
.CheckoutSummery .Items> *:nth-child(4){
    transform:rotate(14deg) translateX(-28px) translateY(-221px);
}
.CheckoutSummery .Items> *:nth-child(5){
    transform:rotate(-1deg) translateX(220px) translateY(-270px);
}
.CheckoutSummery .Items> *:nth-child(6){
    transform: rotate(-16deg) translateX(522px) translateY(-423px);
}
.CheckoutSummery .Items> *:nth-child(7){
    transform:rotate(10deg) translateX(-73px) translateY(-475px);
}
.CheckoutSummery .Items> *:nth-child(8){
    transform:rotate(3deg) translateX(195px) translateY(-538px);
}
.CheckoutSummery .Items> *:nth-child(9){
    transform:rotate(-15deg) translateX(611px) translateY(-673px);
}
.CheckoutSummery .Items> *:nth-child(10){
    transform:rotate(23deg) translateX(-278px) translateY(-675px);
}
.CheckoutSummery .Items> *:nth-child(11){
    transform:rotate(-2deg) translateX(253px) translateY(-775px);
}
.CheckoutSummery .Items> *:nth-child(12){
    transform:rotate(-25deg) translateX(832px) translateY(-796px);
}
.CheckoutSummery .Items> *:nth-child(13){
    transform:rotate(23deg) translateX(-380px) translateY(-935px);
}
.CheckoutSummery .Items> *:nth-child(14){
    transform:rotate(4deg) translateX(139px) translateY(-1064px);
}
.CheckoutSummery .Items> *:nth-child(15){
    transform:rotate(-22deg) translateX(912px) translateY(-1069px);
}
}
/* .CheckoutSummery .Items> *:hover {
  transform: none;
} */
.CheckoutSummery .Items > *  div img {
    grid-row: 1/3;
     border-radius: 50%;
     height: 90%;
     width: 90%;

}
.CheckoutSummery .Items > *  div img:hover{
    transform: scale(.5) !important;
    transition: all .5s ease-out;

}
.CheckoutSummery .Items > *  h5{
  background-color: pink;
  color: #4e3706;
  border-radius: 3px;
  margin: 0 ;
  padding: 0;
  width: 100%;
  /* grid-row: 2/3; */
  display: none;
}
.CheckoutSummery .Items > *  h5 span{
    font-size: 1.4rem;
    animation: none;
    margin: 0 ;
    padding: 0;
    text-align: center;

  
  }

  .CheckoutSummery .Items > *  div{
      margin: 0;
      padding:0;
  }
  .CheckoutSummery .Items > *  div p {
       /* grid-row: 3/4; */
    margin-top: 0 !important;
    font-size: 1.4rem;
    padding-top: 0 !important;


}

.Up{
   
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: transparent;
    font-weight: 900;
    width: 6rem;
    height: 6rem;
    position: fixed;
    z-index: 0 !important;
    cursor: pointer;

    right: 2rem;
    -webkit-animation: scrollTop .5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);;
    -moz-animation: scrollTop .5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);;
    -ms-animation: scrollTop .5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);;
    animation: scrollTop .5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);;
    animation: scrollTop .5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);;
    bottom: 2rem;
}

.Up span{
    font-size: 6rem;
    color: rgb(114, 73, 10);
    font-weight: 900;
    margin-top: 10px;
   

}
.Up:hover{
    transform: scale(1.5);
    animation: none;
}
@keyframes scrollTop {
    to {
        transform: translateY(8px);
    }
    from {
        transform: translateY(-9px);
    }
}