.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    font-family: 'El Messiri', sans-serif;

}
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
 color: rgb(130, 216, 9); 
   /* // color: green; */
   transition: all .4s ease-in;
}

.Danger {
    color: rgb(197, 47, 47);
    transition: all .3s ease-in;

}

.Success:hover, .Danger:hover{
    transform: scale(1.1);
}