.FlowerControls{
    width: 100%;
    background-image: linear-gradient(to bottom left, #f3ede1, #916404);
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    box-shadow: 0 .5rem 1rem #ccc;
    margin: auto;
    padding: 10px 0;
    border-radius: 15px;
    margin-bottom: 4rem;
    grid-column: center-start/center-end;
    height: 25rem;
}
.Orderdata{
    padding: 2rem 0;
    width: 45%;
}

.Heading{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
}
.Ordertext{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.63;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
    padding-left: 0;
}
.Buy{
    padding: 2rem 0;
text-align: center;
}
.Total{
    font-size: 2rem;
    padding:2rem;
    text-decoration: underline;
    font-weight: bolder;
    font-family: 'El Messiri', sans-serif;

}

.OrderButton {
    outline: none;
    cursor: pointer;
    /* color: #966909; */
    font-family: inherit;
    font-size: 1.8rem;
    padding: 15px 30px;

    font-weight: 300;
    border: none;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, #996a05, #1a1201);
    color: #fff;
    overflow: hidden;
    height: 10rem;

}
.OrderButton:hover{
    background-image: linear-gradient(to right, #966909, #3d2b05);
    color: #ccc;
    position: relative;

}
 .OrderButton:active {
    background-image: linear-gradient(to right, #966909, #3d2b05);
    color: #ccc;
}


.OrderButton span{
    display: none;
}
.OrderButton:hover span{
    border: #666 2px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #e3e3e3;
    left: 12px;
    margin: 15px;
    width: 165px;
    position: absolute;
    top: 5px;
    text-decoration: none;
    color: #3d2b05;
    border-radius: 10px;
    font-size: 1.4rem;
    text-transform: capitalize;
}
.OrderButton:active {
    transform: translateY(2px);
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: whitesmoke;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
    color: whitesmoke;


}
.OrderButton:not(:disabled) span{
    display: none;
}
@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}