.Gallery{
    background-color: whitesmoke;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;
}
.Heading{
    font-size: 3.1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #f5cd78, #4e3706);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    margin-bottom: 2rem;
}
.Heading:hover{
    transform: skewY(1deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#4e3706, 0.8);
}
.Item1 
     {
        grid-row: 1/span 3;
        grid-column: 1/ span 2;
    }
.Item2 
     {
        grid-row: 1/span 3;
        grid-column: 3/ span 3;
    }
.Item3{
    grid-row: 1/span 3;
    grid-column: 6/ span 3;
}
.Item4{
    grid-row: 4/span 2;
    grid-column: 1/ span 3;
}
.Item5{
    grid-row: 4/span 1;
    grid-column: 6/ span 1;
}
.Item6{
    grid-row: 4/span 3;
    grid-column: 7/ span 2;
}
.Item7{
    grid-row: 4/span 3;
    grid-column: 4/ span 2;
}
.Item10{
    grid-row: 6/span 3;
    grid-column: 1/ span 3;
}
.Item9{
    grid-row: 7/span 1;
    grid-column: 7/ span 2;
}
.Item11{
    grid-row: 5/span 3;
    grid-column: 6/ span 1;
}
.Item17{
    grid-row: 7/span 3;
    grid-column: 4/ span 2;
}
.Item12{
    grid-row: 8/span 2;
    grid-column: 6/ span 3;
}
.Item8{
    grid-row: 9/span 3;
    grid-column: 1/ span 2;
}
.Item16{
    grid-row: 10/span 2;
    grid-column: 4/ span 3;
}
.Item13{
    grid-row: 9/span 1;
    grid-column: 3/ span 1;
}
.Item15{
    grid-row: 10/span 2;
    grid-column: 7/ span 3;
}
.Item14{
    grid-row: 10/span 2;
    grid-column: 3/ span 1;
}




.Picture {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}