.ContactData{
    width: 80%;
    text-align: center;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    border: 1px solid #eee;
}


@media(min-width:600px){
    .ContactData{
        width: 500px;
    }
}

.Heading{
    font-size: 3.1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #f5cd78, #4e3706);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.Heading:hover{
    transform: skewX(15deg) skewY(-2deg)  scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#4e3706, 0.8);
}