.Checkout{
    display: grid;
    /* grid-column: center-start / center-end; */
    grid-template-rows: repeat(2, minmax(60rem, 1fr));;
    
    /* overflow: auto; */
    height: 54rem;
}

@media only screen and (max-width: 850px) {
    .Checkout{
        background-image:none;
        
    }

}


